/* Basics */
body { background: #f5f5f5; margin: 1em}
img  { border:0; vertical-align:middle }
div#footer { clear: both; margin: 1em;}
a                { text-decoration: none; font-weight: bold; color: black;}
a:hover          { text-decoration: underline; }

h1   {
  font-size:xx-large;
  font-family:courier,fixed; 
  margin: 0 auto;
  text-align: center; 
  font-weight: normal;
}
body.sourcepage h1 {
  font-size:x-large;
  width:50%;
  text-align: left;
  border: 2px solid gray;
  padding: 0.5em;
  background: #dfdfdf;
  line-height: 150%;
}
h2   { 
  font-family:sans-serif; 
  font-weight: bold; 
  font-size:large; 
  margin: 0;
  padding: 0;
}

/* Left side of the page */
div#leftcolumn { float: left; width: 66%; }
#leftcolumn ul { list-style: none; padding: 0; margin: 0 }
#leftcolumn li, #leftcolumn .form { 
  background:#FDFDFD none repeat scroll 0%; 
  border:1px solid black; 
  margin: 2px 0;
  padding: 2px;
  clear: left;
  overflow: auto;
}
#leftcolumn dt, #leftcolumn label { float:left; width: 8em; clear: left; line-height: 125%; display: block}
#leftcolumn dd, #leftcolumn input { float:left; margin-left: 0; line-height: 125%; display: block}
#leftcolumn #submit { clear: left; margin: 1em; }

/* Right side of the page */
div#rightcolumn { float: right; width: 33%; text-align: right}
#rightcolumn ul { list-style: none; padding: 0; margin: 0 }
#rightcolumn li { 
  background:#dfdfdf none repeat scroll 0%; 
  border:1px solid black; 
  margin: 2px 0;
  padding: 2px;
  clear: left;
}
#rightcolumn dt { float:left; clear: left; line-height: 125%; }
#rightcolumn dd { float:right; line-height: 125%; }

/* Source code style */
.lnr        { color:gray; visibility:hidden; }
.Comment    { color:#333333; font-style: italic; }
.Statement  { color:#0000AA; }
.Constant   { color:red; }
.Identifier { color:#5555FF; }
.Type       { color:green; }
.PreProc    { color:#A1A100; }

