

/* Source code style */
.lnr        { color:gray; visibility:hidden; }
.Comment    { color:#333333; font-style: italic; }
.Statement  { color:#0000AA; }
.Constant   { color:red; }
.Identifier { color:#5555FF; }
.Type       { color:green; }
.PreProc    { color:#A1A100; }

